<!DOCTYPE html>
    
<html lang="en">

    <head>
        <link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
        <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js" type="text/javascript"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
            
        <script src="http://releases.flowplayer.org/5.1.1/flowplayer.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.1.1/skin/minimalist.css" />

        <title>{% block title %}{% endblock %}</title>
    </head>
    
    <body id="{% block body_id %}{% endblock %}">

        <div id="body">
            <div class="navbar">

                <div class="navbar-inner">

                    <ul class="nav">
                        <li>
                            <a class="brand" href="/">VideoShare</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compte<b class="caret"></b> </a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                <li><a href="/accounts/logout">Se Deconnecter</a></li>
                                <li><a href="/upload">Ajouter une Video</a></li>
                                <li><a href="/list">Voir Mes Videos</a></li>
                                <li><a href="/accounts/profiles">Parametres de Comptes</a></li>                          
                                {% else %}
                                <li><a href="/accounts/login">Se Connecter</a></li>
                                <li><a href="/accounts/register">Creer un Compte</a></li>
                                {% endif %}

                            </ul>
                        </li>
                        
                    </ul>

                    <form class="navbar-form pull-right" action="">
                        <p>
                            <input type="text" class="span2">
                            <button type="submit" class="btn">Recherche</button>
                        </p>
                    </form>
                    
                </div>
            </div>
            
            
            <div class="container-fluid">
                <div class="row-fluid">
                    
                    <div class="span1">
                    </div>
                        
                        <div class="span10">                   
                            <div class="span12">
                                {% block content %}                                                             
                                {% endblock %}                              
                            </div>
                            
                    </div>
                    <div class="span1">
                    </div>
                    
                </div>
            </div>
                
        </div>
    </body>
</html>

