{% extends "base.html" %}
{% block content %}


<div class="span6 offset3">
    <div class="well well-large">
        <div class="well well-large">
            {% if doc %}
            <dl class="dl-horizontal">
                {% for document in doc %}
                {% if varBool %}

                <dt>Nom :</dt><dd>{{ document.name }}<dd>
                <dt>Postée par :</dt><dd>{{ document.author }}</dd>
                <dt>Date :</dt><dd>{{ document.date }}</dd>

                &nbsp;

                <div class="span12 pagination-centered">
                    <form action="./" method="post">{% csrf_token %}
                        <button type="submit"  value="Supprimer" class="btn btn-primary">Supprimer</button>
                    </form>
                </div>
                
                <div class="flowplayer">
                    <video src="intro.mp4"></video>
                </div>
                
                {% else %}
                <p>Vous n'êtes pas le posteur de cette vidéo</p>
                {% endif %}
                {% endfor %}
            </dl>
            {% else %}
            <p>Aucun Documents.</p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
