{% extends "base.html" %}
{% block content %}

<div class="span6 offset3">
    <div class="well well-large">
        <!-- List of uploaded documents -->
        {% if documents %}
        <ul>
            {% for document in documents %}
            <li><a href="{{document.id }}">{{ document.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Aucun Documents.</p>
        {% endif %}

    </div>
</div>

    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>

{% endblock %}
