{% extends "base.html" %}
{% block content %}

<!-- Upload form. Note enctype attribute! -->

<div class="span6 offset3">
    <div class="well well-large">
        <div class="well well-large">
            <h2> Envoie de fichier </h2>
        <form class="form-horizontal" action="{% url upload %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p>
                {{ form.docfile }}
            </p>

            <p>
                <br>
                <button type="submit" class="btn btn-primary" value="Upload">Envoyer</button>
            </p>

        </form>
    </div>
        </div>
</div>

{% endblock %}