{% extends "base.html" %}
    
{% block content %}
    
<div class="span12 pagination-centered">
    <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Erreur</h3>
        </div>
        <div class="modal-body">
            <p>Erreur, mauvais utilisateur ou mot de passe</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fermer</button>
        </div>
    </div>
        
    <div class="span4 offset4">
        <div class="well well-large">
            <form action="" method="post"> {% csrf_token %}
                
                <p>  
                    <label  for="username">Nom d'utilisateur:</label>                     
                    <input type="text" class="input-small" name="username" id="username">
                        
                </p>
                <p>   
                        
                    <label for="password">Mot De passe:</label>                        
                    <input type="password" class="input-small" name="password" id="password">                                                     
                </p>
                <p>       
                    <button type="submit"  value="login" class="btn btn-primary">Valider</button>                    
                    <input type="hidden" name="next" value="/">                                             
                </p>
            </form>
        </div>

    </div>
</div>
           
{% if form.errors %}
     
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#myModal').modal('show')
    });
</script>
{% endif %}
      
{% endblock %}
