{% extends "base.html" %}
{% block content %}

 <div class="span12 pagination-centered">
    <div class="span6 offset3">
        <div class="well well-large">
            <div class="well well-large">
                
                <dl class="dl-horizontal">


                            <dt>Login :</dt><dd> &nbsp;{{ profile.username }}<dd>
                            <dt>Prénom :</dt><dd> &nbsp;{{ profile.first_name }}</dd>
                            <dt>Nom :</dt><dd> &nbsp;{{ profile.last_name }}</dd>
                            <dt>Dernière connexion :</dt><dd> &nbsp;{{ profile.last_login }}</dd>
                            <dt>Date d'inscription :</dt><dd> &nbsp;{{ profile.date_joined }}</dd>

                </dl>
                <div class="alert">
                    
               
                <p>
                    Cette action est critique. Vous allez perdre votre compte et vos videos
                </p>
            <form action="./" method="post">{% csrf_token %}
            <button type="submit"  value="Supprimer le compte" class="btn btn-danger">Supprimer le compte</button>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}